*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $regular-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

body {
    min-height: 100vh;
}

#app {
    height: 100vh;
}

h1 {
    font-family: $header-font-family;
    font-size: 2em;
    margin: 0.67em 0;
}

h2,
h3 {
    font-family: $regular-font-family;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p,
ul,
ol {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 16px;
}

ul,
ol {
    padding-left: 20px;
}

ul {
    list-style: square;
}

code,
ul > code,
ol > code {
    @include code;
}

a {
    color: $regular-text-color;
    transition: text-decoration 0.3s;

    &:hover {
        text-decoration: none;
    }
}

.fade-enter-active {
    transition: opacity 1s ease-out;
    transition-delay: 1s;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}

.fade-move {
    transition: transform 1s;
}
